<div id="scoreboard">
  <div id="signup_container">
    <div class="sign_button" id="sign_up_button">Welcome <%= current_user.team_name %>!</div>
    <a href='users/profile'>
      <div class="sign_button" id="deck_button">Your Team Deck</div>
    </a>
  </div>
</div>
