body {
  margin: 0;
}

nav {
  background-color: blue;
  height: 2rem;

  a {
    text-decoration: none;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .25rem;
    padding-left: .25rem;

    &:hover {
      color: blue;
      background-color: white;
    }

  }

  #logout-button {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .25rem;
    padding-left: .25rem;
  }
  .nav_links {
    float: right;
    margin-right: 1rem;
  }

  #home_link {
    float: left;
    margin-left: 1rem;
  }
}
