#profile {
  background: url(image-path('locker_room.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

#deck-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.playercard-wrapper {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .5);
  margin-top: 15vh;
  height: 70vh;
  width: 92vw;
}

.playercard {
  border: black 5px solid;
  height: 35vh;
  width: 13vw;
  background-color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 15vh;
}

.card-button-wrapper {
  height: 70vh;
  width: 4vw;
  margin-top: 15vh;
  background-color: black;
  i {
    position: relative;
    color: white;
    font-size: 2.5rem;
    margin-top: 30vh;
    margin-left: 0.5rem;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

#playercard_array_length {
  display: none;
}

#first-pack-wrapper {
  text-align: center;
  color: white;
  margin-top: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;

  #first-pack-greeting {
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 3vh;
  }
  h1 {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 3vh;
  }
}
#pack-of-cards {
  background-color: blue;
  border-top: 10px red solid;
  border-bottom: 10px red solid;
  display: inline-block;
  width: 13rem;
  padding-bottom: 2rem;
  &:hover {
    cursor: pointer;
    p:first-of-type {
      border-top: 5px black dashed;
    }
  }
  p:first-of-type {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: white;
    &:visited {
      color: white;
    }
  }
  p:nth-of-type(2){
    margin-top: 0;
    color: white;
    &:visited {
      color: white;
    }
  }
}

#card-pack-img {
  width: 7rem;
  height: 10rem;
}
